@font-face {
  font-family: 'montserrat-regular';
  src: url("../../assets/fonts/montserratRegular.ttf") format('truetype');
}

@font-face {
  font-family: 'montserrat-bold';
  src: url("../../assets/fonts/montserratBold.ttf") format('truetype');
}

// Base colors => color, background-color, ...
$c_White: #f0f0f0;
$c_Black: #3f3f3f;
$c_LightOrange: #ff572b;
$c_DarkOrange: #cd401a;

// Fonts => font-family
$f_MontR: 'montserrat-regular';
$f_MontB: 'montserrat-bold';

// Styles
$s_Shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); // box-shadow
$s_Radius: 5px; // border-radius
