@import 'src/resources/styles';

.admin-home {
  height: 100vh;
  position: relative;
  top: 60px;
}

.admin-home h1 {
  width: 90%;
  position: relative;

  font-size: 50px;
}

.admin-card {
  display: flex;
  position: relative;
  top: 50px;
  width: 90%;
}

.admin-home .flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
}
