@import 'src/resources/styles';

.admin-home {
  height: 100vh;
  position: relative;
  top: 60px;
}

.admin-home h1 {
  position: relative;
  left: 130px;
  font-size: 50px;
}

.admin-card {
  position: relative;
  top: 50px;
}
