@import 'src/resources/styles';

.card-home {
  margin-bottom: 20px;
  margin-right: 40px;
  background-color: #f6f6f6;
  width: 250px;
  border-radius: 5px;

  .card-title {
    color: $c_Black;
    font-size: 24px;
  }
  .icon {
    font-size: 70px;
    color: $c_Black;
  }
  .card-button {
    width: inherit;
    background-color: $c_LightOrange;
    color: $c_White;
    height: 70px;
    font-size: 20px;
    text-decoration: none;
  }
  .card-button:hover {
    background-color: #fd6a45;
  }
}
