@import 'src/resources/styles';

.submit-button-div {
  .submit-button {
    min-width: 150px;
    height: 50px;
    font-family: $f_MontB;
    color: $c_White;
    background-color: $c_LightOrange;
    border-radius: 100px;
    border: none;
  }
}