@import 'src/resources/styles';

.all-employees {
  display: flex;
  justify-content: center;
}

.all-employees .content-flex {
  width: 90%;
  padding-top: 4%;
}

.all-employees h2 {
  font-size: 50px;
}

.all-employees .flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.all-employees .input-posting {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.all-employees button {
  background-color: $c_LightOrange; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
